.chartContainer {
  width: 100%;
  margin: 48px 0;
  max-width: 1200px;
  min-height: 410px;
}

.loadingContainer {
  position: relative;
  .spinnerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
